<div class="jumbotron mt-2">
    <h1 class="display-4">About the team</h1>
    <p class="lead">Our project was designed and developed by a hardworking group of students at Cal Poly Pomona.</p>
    <hr class="my-4">
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">Brandon Gastelo</li>
        <li class="list-group-item">Johnny Lam</li>
        <li class="list-group-item">Randy Salazar</li>
        <li class="list-group-item">Tai Doan</li>
        <li class="list-group-item">Sung Oh Park</li>
    </ul>
</div>
