<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Newsletters</h1>
        <p class="lead">Send news to subscribers</p>
    </div>
</div>
<div class="card">
    <div class="card-text m-4">
        <p>Type here:</p>
        <input type="text" placeholder="news message here"></input>
    </div>
</div>
