<h1>Point of Sale</h1>
<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <p class="card-text">Check out books</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="card-text">Return books</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="card-text">Shelve books</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="card-text">Pay fees</p>
        </div>
    </div>
</div>
